<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AndaApp</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
        <header class="toolbar">
                <h1 class="site-title">Anda</h1>
                <h6 class="site-icon">Anda</h6>
              </header>
              <article class="card post">
                   
                      
                    
                    <div class="post-content">
                      <img
                        class="post-avatar"
                        
                      >
                      <div class="post-text-content">
                        <div class="post-title">
                          <h1 class="post-heading">How to succed at Andela </h1>
                          <time class="post-time" >today</time>
                        </div>
                        <p>
                          bdhasbfhwbdfjwnfdjnwkofmnwekmdfkewmdflkewmdflwmdflewfd
                        </p>
                        <a href="http://www.yahoo.com">Salama OK</a>  <a href='#' class="myButton">Readmore</a>
                      </div><br>
                      
                    </div>
                  </article>
                  
                  <article class="card post">
                    <div class="post-content">
                      <img
                        class="post-avatar"
                        
                      >
                      <div class="post-text-content">
                        <div class="post-title">
                          <h1 class="post-heading">What is EPIC values </h1>
                          <time class="post-time" >Week-ago</time>
                        </div>
                        <p>
                          bdhasbfhwbdfjwnfdjnwkofmnwekmdfkewmdflkewmdflwmdflewfd
                          wdwdn wqjdnjwndjwndwnjkldnw2d
                          hvhsbdhbwhdbwehbdiwbdjiwbdjnbewjdnbjewb  hebdhswbdhubswhdbewjd
                        </p>
                        <a href="http://www.yahoo.com">Eric Ebulu</a>  <a href='#' class="myButton">Readmore</a>
                      </div><br>
                      
                    </div>
                  </article>
                  <article class="card post">
                   
                      
                    
                    <div class="post-content">
                      <img
                        class="post-avatar"
                        
                      >
                      <div class="post-text-content">
                        <div class="post-title">
                          <h1 class="post-heading">What is Andela Bootcamp </h1>
                          <time class="post-time" >Last month</time>
                        </div>
                        <p>
                          bdhasbfhwbdfjwnfdjnwkofmnwekmdfkewmdflkewmdflwmdflewfd
                        </p>
                        <a href="http://www.yahoo.com">clement uwajeneza</a>  <a href='#' class="myButton">Readmore</a>
                      </div><br>
                      
                    </div>
                  </article>
                  <article class="card post">
                   
                      
                    
                    <div class="post-content">
                      <img
                        class="post-avatar"
                        
                      >
                      <div class="post-text-content">
                        <div class="post-title">
                          <h1 class="post-heading">What is Andela Bootcamp </h1>
                          <time class="post-time" >Last month</time>
                        </div>
                        <p>
                          bdhasbfhwbdfjwnfdjnwkofmnwekmdfkewmdflkewmdflwmdflewfd
                          bdhasbfhwbdfjwnfdjnwkofmnwekmdfkewmdflkewmdflwmdflewfd
                          bdhasbfhwbdfjwnfdjnwkofmnwekmdfkewmdflkewmdflwmdflewfd
                           
                        </p>
                        <a href="http://www.yahoo.com">clement uwajeneza</a>  <a href='#' class="myButton">Readmore</a>
                      </div><br>
                      
                    </div>
                  </article>
                  
                      <footer class="footer ">
                           
                        
                                   <p class="copyright">© AndaApp 2019</p>
                       
        </footer>
                           
                      
                      
</body>
</html>