<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/delete.css">
    <title>Document</title>
</head>
<body>
    <div id="freezeLayer" class="freeze-layer"></div>
   <button onclick="toggleSignup();">delete</button>
   <div id="dialogCont" class="dlg-container">
       <div id="dlgBody" class="dlg-body"><h6>Are you sure you want to delete the blog?</h6>
       <div class="dlg-footer">
           <button onclick="window.location.href = '#';" class="button button3" >YES</button>
           <button onclick="window.location.href = '#';" class="button-red button3-red" >NO</button>
       </div>
       </div>
   </div>
    </body>
<script src="../js/delete.js">

</script>
</html>
