<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/customs.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css//main.css">
    <title>Document</title>
</head>
<body>
    <header class=" toolbar main-head">
        <h1 class="site-title">Anda</h1>
    </header>
    <div class="form content">

        <h2>Login</h2>
        <div class="formBox">
            <div class="loginForm">
                <form action="" class="formArea">
                    <div class="inputArea">
                        <label for="">Username</label>
                        <input type="text" name="Username">
                    </div>
                    <div class="inputArea">
                        <label for="">Password</label>
                        <input type="text" name="Password">
                    </div>
                    <div class="inputArea">
                        <a href="#">Forgot Password?</a>
                    </div>
                    
                    <button class="btn">Login</button>
                </form>
                <p>or</p>
            </div>
            <div class="otherways">
                <div class="option">

                    <a href="">
                        <img src="http://pluspng.com/img-png/google-logo-png-open-2000.png" alt="" width="25px" height="25px"> 
                        <p>Login with google</p>
                    </a>
                </div>
                <div class="option">
                    <a href="">
                        <img src="https://png.pngtree.com/element_our/sm/20180301/sm_5a9794da1b10e.png" alt="" width="33px" height="33"> 
                        <p>Login with Facebook</p></a>
                </div>
            </div>
            <div class="signupLink">
                <span>If you don't have an account <a href="../templates/signup.html">Signup</a></span>
            </div>
            
        </div>
    </div>
    <div class="main-footer"> </div>
</body>
</html>