<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AndaApp</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' 
    integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
        <header class="toolbar">
                <h1 class="site-title">Anda app</h1>
                <div>
                <a href="blogs.html">Blogs</a>
                <i class="fa fa-user-circle-o"></i>
                </div>
              </header>
              
                  <div class='author-avator-container'>
                    <img src='https://avatars1.githubusercontent.com/u/36167006?s=460&v=4' 
                    style='width: 50%; height: 50%; border-radius:50%'>
                    <div class="auth-details">
                    <p>Anguandia Mike</p>
                    <p>publication <span>234</span></p>
                    </div>
                    <div class="arrow"></div>
                  </div>
                  <div class='post-container'>
                      <div class="post-title">
                        <h1 style='width:100%'> Why Define User Persona?</h1>
                        <div class="post-subtitle">
                            Its about the definition of a user representing a group of individuals of the target product
                        </div>
                        <div class="post-body">
                          <div class="post-summary">
                                  The user persona represent a
                                  significant portion of people
                                  that allow us focus our
                                  solutions in real individuals
                                  instead of trying to cover
                                  a target too generic”.
                          </div>
                            <p>
                            This technique, applied in processes focused on users,
                            converts the data collected in the target's
                            research representative archetypes that will help us
                            create the right paths for your experience to be optimal.
                            
                            The design of people is based on the objectives,
                            behavior, and concerns of users that concern our
                            product or service. It is a perfect methodology to face
                            users and be able to understand them, thus focusing the
                            project on the satisfaction of their concrete needs.
                            </p>
                            <p>
                                This technique, applied in processes focused on users,
                                converts the data collected in the target's
                                research representative archetypes that will help us
                                create the right paths for your experience to be optimal.
                                
                                The design of people is based on the objectives,
                                behavior, and concerns of users that concern our
                                product or service. It is a perfect methodology to face
                                users and be able to understand them, thus focusing the
                                project on the satisfaction of their concrete needs.
                              </p>
                        </div>
                      </div>
                      </div>
                          <div class="icons">
                            <i class="comment-icon far">&#xf4ad</i>
                            <i class="fa fa-thumbs-o-up like"></i>
                            <i class="fa fa-thumbs-o-down dislike"></i>
                            <button class="share">
                              Share <i>&#10149;</i>
                            </button>
                          </div>
                  
                  <div class="toast">
                        <div class="toast-content">dvhsvdvd</div>
                        <button class="unbutton">jdfbjbfjbf</button>
                      </div>
</body>
</html>