<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>User Dashboard</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/custom.css" />
  </head>
  <body>
    <div class="wrapper">
      <header class="main-head toolbar">
        <span class="site-title">Anda app</span>
        <nav class="main-nav">
          <ul>
            <li><a href="#">Stories</a></li>
            <li>
              <img src="../images/profile.png" />
            </li>
          </ul>
        </nav>
      </header>
      <div class="container">
        <div class="side sidebar">
          <a href="#">Dashboard</a>
          <div class="profile">
            <a href="/" class="brand-logo">
              <img src="images/logo.png" />
              <div class="brand-logo-name">normal user</div>
              <div class="brand-logo-name">user@anda.com</div>
            </a>
          </div>
          <nav>
            <a href="/" class="brand-logo">
              <img src="images/logo.png" />
              <div class="brand-logo-name">new blog</div>
            </a>
            <a href="/" class="brand-logo">
              <img src="images/logo.png" />
              <div class="brand-logo-name">settings</div>
            </a>
          </nav>
        </div>
        <section class="content main-section">
          <div class="middle-content"></div>
          <div class="statistics-content"></div>
        </section>
      </div>
    </div>
  </body>
</html>
