<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Editor css -->
    <link
      href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"
      rel="stylesheet"
    />
    <link
      href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css"
      rel="stylesheet"
    />
    <script src="../js/charts.js"></script>
    <script
      type="text/javascript"
      src="https://canvasjs.com/assets/script/canvasjs.min.js"
    ></script>
    <!-- Main  css resources-->
    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/custom.css" />
    <link rel="stylesheet" href="../css/main.css" />

    <title>Create blog</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- main header -->
      <header class="main-head toolbar">
        <h1 class="site-title">Anda app</h1>
        <nav class="main-nav">
          <ul>
            <li><a>Stories</a></li>
            <li>
              <a
                ><img src="../images/avatar.png" width="40px" height="40px"
              /></a>
            </li>
          </ul>
        </nav>
      </header>

      <!-- main sidebar area -->
      <section class="side shadow-effect dashboard">
        <div id="">Dashboard</div>
        <div class="user-info">
          <img src="../images/avatar.png" width="40px" height="40px" alt="" />
          <span>
            <p>normal user</p>
            <p>user.anda.com</p>
          </span>
        </div>
        <div class="sidebar-menu">
          <ul>
            <li>
              <a href="">
                <img src="../images/dashboard.png" alt="" />
                <span>
                  <p>your blogs</p>
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../images/blog.png" alt="" />
                <span>
                  <p>new blogs</p>
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../images/settings.png" alt="" />
                <span>
                  <p>settings</p>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <!-- search area -->
      <section class="search-area">
        <input
          type="text"
          placeholder="search for the post"
          class="search-input"
        />
      </section>
      <!-- main area -->
      <section class="content make-flex">
        <div class="g shadow-effect">
          <div class="card-header">
            <span class="title">Your most liked blogs</span>
          </div>
          <div class="card">
            <div class="card-header">
              <span class="title">YOYO Learning</span>
              <p>
                <span class="sub-title">publish date: December, 3, 2018</span>
              </p>
            </div>
            <div class="card-content">
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters...
              </p>
            </div>
            <div class="footer1">
              <div class="follower-pic">
                <a href="#">
                  <img src="../images/avatar.png" width="40px" height="40px" />
                  <div class="follow-name">
                    <a href="#">raymond</a> and <a href="#">10 others</a>
                  </div>
                </a>
              </div>
              <nav class="main-nav">
                <ul>
                  <li>
                    <a href="#"
                      ><img
                        src="../images/edit_icon.png"
                        width="20px"
                        height="20px"
                    /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img
                        src="../images/delete_icon.png"
                        width="20px"
                        height="20px"
                    /></a>
                  </li>
                  <li><button class="readmore-btn">Read More</button></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <span class="title">YOYO Learning</span>
              <p>
                <span class="sub-title">publish date: December, 3, 2018</span>
              </p>
            </div>
            <div class="card-content">
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters...
              </p>
            </div>
            <div class="footer1">
              <div class="follower-pic">
                <a href="#">
                  <img src="../images/avatar.png" width="40px" height="40px" />
                  <div class="follow-name">
                    <a href="#">raymond</a> and <a href="#">10 others</a>
                  </div>
                </a>
              </div>
              <nav class="main-nav">
                <ul>
                  <li>
                    <a href="#"
                      ><img
                        src="../images/edit_icon.png"
                        width="20px"
                        height="20px"
                    /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img
                        src="../images/delete_icon.png"
                        width="20px"
                        height="20px"
                    /></a>
                  </li>
                  <li><button class="readmore-btn">Read More</button></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <span class="title">YOYO Learning</span>
              <p>
                <span class="sub-title">publish date: December, 3, 2018</span>
              </p>
            </div>
            <div class="card-content">
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters...
              </p>
            </div>
            <div class="footer1">
              <div class="follower-pic">
                <a href="#">
                  <img src="../images/avatar.png" width="40px" height="40px" />
                  <div class="follow-name">
                    <a href="#">raymond</a> and <a href="#">10 others</a>
                  </div>
                </a>
              </div>
              <nav class="main-nav">
                <ul>
                  <li>
                    <a href="#"
                      ><img
                        src="../images/edit_icon.png"
                        width="20px"
                        height="20px"
                    /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img
                        src="../images/delete_icon.png"
                        width="20px"
                        height="20px"
                    /></a>
                  </li>
                  <li><button class="readmore-btn">Read More</button></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="h">
          <div class="blog-statistics shadow-effect">
            <div id="chartContainer" style="height: 150px; width: 100%;"></div>
            <div
              class="latest-blogs"
              style="margin-top: 5rem;"
            >
          </div>
          <span class="title">Stories of people you follow</span>
                <div class="card-header" style="margin-top: 2rem;">
                  <div class="follower-pic">
                    <a href="#">
                      <img
                        src="../images/avatar.png"
                        width="40px"
                        height="40px"
                      />
                      <div class="follow-name">
                        <a href="#">Christina Saas</a>
                      </div>
                    </a>
                  </div>
                  <p>
                    <span class="sub-title"
                      >publish date: December, 3, 2018</span
                    >
                  </p>
                </div>
                <div class="card-content">
                  <p>
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking at
                    its layout. The point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters...
                  </p>
                </div>
                <div class="footer1">
                <nav class="main-nav">
                  <ul>
                    <li><button class="readmore-btn">Read More</button></li>
                  </ul>
                </nav>
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
