.button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  float: right;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #3399cc;
  color: #3399cc;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

.button:hover {
  color: white;
  background: #3399cc;
}

.shadow-effect {
  padding: 1.5rem 2rem;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.form-select {
  outline: none;
  height: 4rem;
  width: 30%;
  margin: 2rem 0rem;
}

.form-input {
  border-width: 0px;
  border: none;
  font-size: 30px;
  font-weight: bold;
  outline: none;
  height: 5rem;
  width: 100%;
  -webkit-appearance: none;
}

.user-info {
  width: 100%;
  display: inline-block;
  margin: 2rem 0rem;
}
.user-info > img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-top: 3px;
}
.user-info > span {
  float: left;
  padding: 2px 0px;
}
.user-info > span > p {
  margin: 2px 0px;
}
.user-info > a {
  color: black;
  font-size: 3rem;
  float: right;
  padding: 0.3rem 4rem;
  text-decoration: none;
}
.sidebar-menu {
  display: none;
}
.sidebar-menu > ul {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
}
.sidebar-menu > ul > li > a > * {
  display: inline-block;
}
.sidebar-menu > ul > li {
  padding-top: 2rem;
}
.sidebar-menu > ul > li > a > img {
  width: 2rem;
  height: 2rem;
}
.dashboard {
  display: block;
}

@media (min-width: 500px) {
  .user-info > a {
    display: none;
  }
  .sidebar-menu {
    display: block !important;
  }
}
@media (min-width: 700px) {
  .user-info > a {
    display: none;
  }
  .sidebar-menu {
    display: block !important;
  }
}
