@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.main-head {
  background: blue;
  grid-area: header;
}
.content {
  grid-area: content;
}
.make-flex {
  display: flex;
  margin: 1rem;
}
.search-area {
  grid-area: searchbar;
  background: white;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.main-footer {
  background: blue;
  grid-area: footer;
}
.blog-content {
  display: grid;
  grid-gap: 5px;
}
.wrapper {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-gap: 0px;
  grid-template-areas:
    "header"
    "sidebar"
    "nav"
    "content"
    "footer";
}
@media screen and (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "sidebar content"
      "footer     footer";
  }
}
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "sidebar searchbar searchbar"
      "sidebar    content content"
      "sidebar    content content"
      "footer footer  footer";
  }
}
